<a href="https://colab.research.google.com/github/sowmyarshetty/Project2-AI-Class/blob/main/Project2_AI_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# Import the data
import pandas as pd
import numpy as np
from sklearn.preprocessing import  OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import gdown
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
#URL for downloading car rental data
url_carrental = 'https://drive.google.com/uc?id=1NvNGz-8gjXXae0rE4kende5LGcFk290s'
gdown.download(url_carrental, 'CarRentalData.csv', quiet=False)


#Read the CarRentalData.csv
df_car = pd.read_csv(url_carrental)
df_car.head()

Downloading...
From: https://drive.google.com/uc?id=1NvNGz-8gjXXae0rE4kende5LGcFk290s
To: /content/CarRentalData.csv
100%|██████████| 676k/676k [00:00<00:00, 7.44MB/s]

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year,airportcity
0,ELECTRIC,5.00,13.0,12.0,Seattle,US,47.449107,-122.308841,WA,12847615.0,135.0,Tesla,Model X,suv,2019.0,Albuquerque
1,ELECTRIC,5.00,2.0,1.0,Tijeras,US,35.111060,-106.276551,NM,15621242.0,190.0,Tesla,Model X,suv,2018.0,Albuquerque
2,HYBRID,4.92,28.0,24.0,Albuquerque,US,35.127163,-106.566681,NM,10199256.0,35.0,Toyota,Prius,car,2012.0,Albuquerque
3,GASOLINE,5.00,21.0,20.0,Albuquerque,US,35.149726,-106.711425,NM,9365496.0,75.0,Ford,Mustang,car,2018.0,Albuquerque
4,GASOLINE,5.00,3.0,1.0,Albuquerque,US,35.208659,-106.601008,NM,3553565.0,47.0,Chrysler,Sebring,car,2010.0,Albuquerque

In [7]:
df_car.dtypes

fuelType               object
rating                float64
renterTripsTaken      float64
reviewCount           float64
location.city          object
location.country       object
location.latitude     float64
location.longitude    float64
location.state         object
owner.id              float64
rate.daily            float64
vehicle.make           object
vehicle.model          object
vehicle.type           object
vehicle.year          float64
airportcity            object
dtype: object

#Data Pre-processing
*   Identify the columns in the car rental data that have to be encoded
## Scikit-learn encoding methods
*   LabelEncoder - Best for ordinal data where there is a natural ordering
*   OneHotEncoder - Best for nominal data where there is no inherent ordering
*   Use Pandas .astype("category").cat.codes for single column category encoding

# Train Test Split

*   After encoding categorical data , work on the encoded car_rental data
*   Identify the X columns ( i.e features or the independent variables)
*   Identify the Y column ( i.e in our case price)
*   Use the Sklearn `train_test_split()` function to split the data into training and testing data


*   Create the LinearRegression Model
*   Evaluate the model
*   Use our model to make predictions
*   Score the predictions with mse and r2
*   Call the score() method on the model to show the r2 score

# Compare performance with linear regression model
*   Lasso Regression
*   Ridge regression